<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <div class="player">
            {{#with player}}
                {{firstName}}
            {{/with}}
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/page.js"></script>
    </body>

</html>